.pagecontent {
    margin-left: 0 auto;
}

#lilboxes {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.boxcolour {
    height: 50px;
    width: 50px;
    border: 3px solid black;
}

.boxcolour #one {
    background: #740932;
}

.boxcolour #two {
    background-color: #FE9D5C;
}

.boxcolour #three {
    background-color: #CF5C14 !important;
}

.boxcolour #four {
    background-color: #20B89F;
}

#bigbox {
    height: 200px;
    width: 600px;
    border: 3px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boxcolour #five {
    background-color: #147A60;
}

.boxcolour #six {
    background-color: #579F31;
}

.boxcolour #seven {
    background-color: #418324;
}

.boxcolour #eight {
    background-color: #d62b8c;
}