/* applies to everything */

* {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Calibri, sans-serif;
    min-width: 500px;
    max-width: 1000px;
    background-color: white;
}

/* applies to every page */

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 5px;
    width: 100%;
    border: 0px solid;
    background: linear-gradient(to right, rgba(255,0,0,0), #40DEFF, #3A81E8, #4E4CFF, #893AE8, #ED57FF, #893AE8, #4E4CFF, #3A81E8, #40DEFF, rgba(255,0,0,0));
}

.navbar, #footer {
    overflow: hidden;
    height: 45px;
    text-align: center;
    background-color: white;
}

.navbar a {
    float: left;
    border-left: 1px solid gray;
    font-size: 16px;
    color: gray;
    text-align: center;
    padding: 8px 12px 20px;
}

.navbar a:hover, .infoblock a:hover, #footer a:hover {
    background-color: lightgray;
}

#header, #footer {
    text-align: center;
}

#footer a {
    float: right;
    border-right: 1px solid gray;
    font-size: 16px;
    color: gray;
    text-align: center;
    padding: 8px 12px 20px 12px;
}

.page-content, .topbar {
    min-width: 600px;
    max-width: 900px;
}

p a {
    color: darkslategray;
}

/* applies to directory */

#infoblocks {
    margin: 8px -16px;
    text-align: justify;
}

#infoblocks, 
#infoblocks > .infoblock {
    padding: 8px;
}

.infoblock {
    float: left;
    height: 310px;
    width: 200px;
    text-align: center;
    padding: 5px;
    margin: 12px;
    border: 1px solid gray;
    box-shadow: 5px 5px 0px -1px rgba(196,196,196,1);
}

#infoblocks.after {
    content: "";
    display: table;
    clear: both;
}

.blockcontent {
    background-color: white;
    padding: 10px;
}

.infoblock a {
    font-size: 16px;
    color: gray;
    padding: 10px;
}

/* Applies to all */

.line {
    text-align: center;
    height: 2px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: darkslategray;
}

/* applies to about */

.fa {
    padding: 20px 27.5px 20px 27.5px;
    font-size: 30px;
    width: 20px;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
}

.icon-bar a {
    width: 100%;
    text-align: center;
}

.icon-bar {
    width: 100%;
    text-align: center;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: #333;
    color: white;
}

.fa-linkedin {
    background: #0072b1;
    color: white;
}

.left, #about-left {
    float: left; 
    position: static;
}

#about-left {
    width: 200px;
}

#about-right {
    margin-bottom: 150px;
    margin-top: 175px;
    margin-right: 25px;
}

#about-center {
    width: 425px;
    text-align: center;
    padding: 0px 30px 0px 30px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;

}

.right, #about-right {
    float: right; 
    position: static;
}

.page-content{
    text-align: center;
    margin: auto;
}



.result {
    text-align: center;
    width: 50px;
    border: 1px solid gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

#mainPic, #resultImg {
    width: 300px;
    height: 300px;
    text-align: center;
}